// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.nav-ul {
  list-style: none;
}
.nav-ul ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.nav-ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.nav-ul li a:hover {
  background-color: #74b9ff;
  color: white;
}

.active {
  font-weight: bold;
}
.jumbotron {
  margin-bottom: 0px !important;
  border-radius: 0% !important;
}

.logo-campus-text {
  color: #ffff;
  font-size: 32px;
  text-align: center;
}
.bg-blue {
  background-color: #184d47 !important;
}

.bg-grey {
  background-color: #96bb7c;
  color: #002145;
}

.header {
  min-height: 115px;
}

.jumbotron {
  margin-bottom: 0px !important;
}

.width-page {
  width: 60%;
  position: relative;
  margin: auto;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #4e73df;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

.bg-gradient-primary {
  background-color: #4e73df !important;
}

.font-date {
  font-size: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// responsive
@media (min-width: 320px) {
  .nondisplay-mob {
    display: none;
  }
  .logo-campus-text {
    color: #ffff;
    font-size: 18px;
    text-align: left;
  }
  .width-page {
    width: 100%;
    position: relative;
    margin: auto;
  }
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  .nondisplay-mob {
    display: none;
  }
  .logo-campus-text {
    color: #ffff;
    font-size: 18px;
    text-align: left;
  }
  .width-page {
    width: 100%;
    position: relative;
    margin: auto;
  }
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  .nondisplay-mob {
    display: none;
  }
  .logo-campus-text {
    color: #ffff;
    font-size: 18px;
    text-align: left;
  }
  .width-page {
    width: 100%;
    position: relative;
    margin: auto;
  }
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  .nondisplay-mob {
    display: none;
  }
  .logo-campus-text {
    color: #ffff;
    font-size: 18px;
    text-align: left;
  }
  .width-page {
    width: 100%;
    position: relative;
    margin: auto;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  .logo-campus-text {
    color: #ffff;
    font-size: 32px;
    text-align: center;
  }
  .width-page {
    width: 60%;
    position: relative;
    margin: auto;
  }
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  .logo-campus-text {
    color: #ffff;
    font-size: 32px;
    text-align: center;
  }
  .width-page {
    width: 60%;
    position: relative;
    margin: auto;
  }
  /* hi-res laptops and desktops */
}

.list-group-item.active {
  z-index: 2 !important;
  color: #fff !important;
  background-color: #96bb7c !important;
  border-color: #96bb7c !important;
}
